body{
    /* margin:10px; */
}

#masthead{
    display:grid;
    height:200px;
    width:100%;
    grid-template-columns: 28% 44% 28%;
    grid-template-rows: 20% 10% 70%;
    width:100%;
    grid-template-areas:
        'l . r'
        '. languages .'
        'date title paper';
}

#navbar-left{
    display:flex;
    grid-area:l;
    border:1px solid black;
}

#navbar-right{
    display:flex;
    grid-area:r;
    border:1px solid red;
    justify-content: flex-end;
}

#languages{
    display:flex;
    justify-content:center;
    align-items: flex-start;
    grid-area:languages;
    border:1px solid blue;
    font-size:10px;
}

#title{
    grid-area:title;
    border:1px solid pink;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:40px;
}
#date{
    display:flex;
    grid-area:date;
    align-items:flex-end;
    border:1px solid green;
}

#paper{
    grid-area:paper;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    border:1px solid purple;
}

#languages > div {
    padding:5px;
}
